@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
  font-family: Ablation;
  src: url(../fonts/Ablation.otf) format('opentype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body{
  height: 100vh;
  width: 100vw;
  background:url(../images//wallpaper.svg);
  background-size: cover; /* Faz a imagem cobrir todo o fundo */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert{
  margin-bottom: 15px;
}

.alert .error{
  color: rgb(223, 110, 110);
  font-size: 1rem;
  font-family: 'Figtree';
  font-weight: normal;
  height: 20px;
}

.alert .success{
  color: rgb(48, 150, 65);
  font-size: 1rem;
  font-family: 'Figtree';
  font-weight: normal;
  height: 20px;
}


.sign__up{
  max-width: 900px;
  max-height: 600px;
  backdrop-filter: blur(50px);
  opacity: 1;
  z-index: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  border: 2px solid white;
}

.sign__up img{
  width: 500px;
  height: 600px;
  display: flex;
}

.form{
  width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__box{
  width: 75%;
  display: flex;
  gap: 25px;
}

.form h2{
  color: white;
  font-size: 2rem;
  font-family: 'Ablation', sans-serif;
  margin-bottom: 30px;
}

.form input{
  width: 75%;
  height: 40px;
  padding: 1rem 0.25rem;
  position: relative;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  font-size: 1rem;
  font-family: 'Figtree';
  background-color: transparent;
  color: white;
}

.form a{
  color: white;
  text-decoration: none;
  font-family: 'Figtree';
  font-weight: bold;
  font-size: 0.9rem;
  opacity: 0.25;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

.form a:hover{
  opacity: 1;
}

.forgot{
  margin-bottom: 50px;
}

.accont{
  margin-top: 15px;
}

.form button{
  width: 70%;
  height: 40px;
  margin-top: 15px;
  border: 2px solid white;
  color: white;
  backdrop-filter: blur(50px);
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Figtree';
  cursor: pointer;
  transition: all .5s ;
  -webkit-transition: all .5s ;
  -moz-transition: all .5s ;
  -ms-transition: all .5s ;
  -o-transition: all .5s ;
}

.form button:hover{
  color: black;
  background-color: white;
}