<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookify</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <header>
        <div class="logo">
            COOKIFY
        </div>
        <nav>
            <a href="">Home</a>
            <a href="">Our menus</a>
            <a href="">Create your menu</a>
            <a href="">Logout</a>
        </nav>
    </header>
    <main>
        <form action="" method="POST" class="reserve">
            <select name="day" id="day">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday ">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
            </select>
            <select name="hour" id="hour">
                <option value="18:00">18:00</option>
                <option value="18:30">18:30</option>
                <option value="19:00">19:00</option>
                <option value="19:30">19:30</option>
                <option value="20:00">20:00</option>
                <option value="20:00">20:30</option>
                <option value="20:00">21:00</option>
            </select>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>