<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <span class="add__btn">Add</span>
            <span>Exit</span>
        </div>
    </header>

    <% if (error_msg.length > 0) { %>
        <div class="alert-danger">
          <%= error_msg %>
        </div>
    <% } %>

    <% if (succes_msg.length > 0) { %>
        <div class="alert-succes">
          <%= succes_msg %>
        </div>
    <% } %>

    <div class="add__container">
        <div class="add__item">
            <nav>
                <h1>Cadastre sua Receita</h1>
                <i class="ri-close-line close_btn"></i>
            </nav>

            <form action="/auth/dashboard" method="POST">
                <label for="title">Título:</label>
                <input type="text" name="title" id="title"><br>
                <label for="describe">Descricão:</label>
                <input type="text" name="description" id="description"><br>
                <label for="ingredients">Ingredients:</label>
                <input type="text" name="ingredients" id="ingredients"><br>
                <input type="submit" class="submit" value="Adicionar">
            </form>
        </div>
    </div>

    <script src="/js/dashboard.js"></script>
</body>
</html>