<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 404</title>
    <link rel="stylesheet" href="/css/erro404.css">
</head>
<body>
    <main class="main">
        <section class="section">
            <div class="left">
                <p>Erro 404</p>
                <h4>We can't seem to find the page <br> you are looking for.</h4>
                <a href="http://localhost:3000/login" class="btn">Home</a>
            </div>
            <div class="right">
                <img src="/images/erro.png" alt="imagem de erro 404">
                <div class="shadow"></div>
            </div>
        </section>
    </main>
</body>
</html>